<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Sign In & Sign Up
    </title>
</head>
<body>
    <h3>
        Sign In & Sign Up
    </h3>
    <div>
        <ul>
            <li>
                <a href="signin">Sign In</a>
            </li>
            <li>
                <a href="signup">Sign Up</a>
            </li>
        </ul>
    </div>
</body>
</html>