<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Sign In
    </title>
    <style>
        label {
            display    : inline-block;
            width      : 140px;
            text-align : right;
        }
    </style>
    <base   href="signin/" />
    <script  src="scripts/signin.js"></script>
</head>
<body>
    <h3>
        Sign In
    </h3>
    <form>
        <label for="user" >
            user :
        </label>
        <input  id="user"      type="text"     />
        <br/>
        <label for="password">
            password :
        </label>
        <input  id="password"  type="password" />
        <br/>
        <br/>
        <button id="signin">
            Sign In
        </button>
    </form>
</body>
</html>