<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Sign Up
    </title>
    <style>
        label {
            display    : inline-block;
            width      : 140px;
            text-align : right;
        }
    </style>
    <base   href="signup/" />
    <script  src="scripts/signup.js"></script>
</head>
<body>
    <h3>
        Sign Up
    </h3>
    <form>
        <label for="user" >
            user :
        </label>
        <input  id="user"             type="text"     />
        <br/>
        <label for="password">
            password :
        </label>
        <input  id="password"         type="password" />
        <br/>
        <label for="repeat-password">
            repeat password :
        </label>
        <input  id="repeat-password"  type="password"  />
        <br/>
        <br/>
        <button id="signup">
            Sign Up
        </button>
    </form>
</body>
</html>